.footer-text {
  color: #0a0a14;
  text-align: right;
  font-size: 42px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.42px;
  max-width: 540px;
}
footer {
  display: flex;
  gap: 3.5rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links a {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}
.blue-highlight {
  position: relative;
  display: inline-block;
}
.blue-highlight span {
  position: relative;
  z-index: 1;
}
.blue-highlight span::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 18px;
  width: 275px;
  height: 18px;
  background-color: #82bbff;
  z-index: -1;
  border-radius: 4px;
}
