.all-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.project-box {
  max-width: 500px;
  padding: 3rem 2.5rem 0 2.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.project-box h3 {
  font-family: Playfair Display;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.45px;
}
.project-desc {
  line-height: 150%;
}
.project-tag {
  font-family: Playfair Display;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.links {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
}
.tags {
  display: flex;
  gap: 10px;
  max-width: 260px;
  flex-wrap: wrap;
}
.tags p {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 76px;
  font-family: Playfair Display;
  font-weight: 700;
  letter-spacing: 0.8px;
}
