.skills-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
}
.yarim-daire {
  position: absolute;

  right: 20%;
  transform: translateY(-100%) translateX(30%);
}
.yd-ic {
  width: 121px;
  height: 121px;
  border: 21px solid #d9d9d9;
  border-radius: 50%;
}
.skills-heading {
  color: #0a0a14;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  padding: 1rem 0 3rem 0;
}
.skill p {
  color: #777;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}
.grey-pill {
  content: "";
  width: 110px;
  height: 49px;
  border-radius: 0 12rem 12rem 0;
  background-color: #525252;
  align-self: flex-start;
  margin-bottom: 3rem;
}
